<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0"
         xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <display-name>Convirgance RealWorld Conduit</display-name>

    <listener>
        <listener-class>com.invirgance.convirgance.web.servlet.ApplicationInitializer</listener-class>
    </listener>

    <servlet>
        <servlet-name>ServicesServlet</servlet-name>
        <servlet-class>com.invirgance.convirgance.web.servlet.JakartaServicesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServicesServlet</servlet-name>
        <url-pattern>/services/*</url-pattern>
        <url-pattern>/views/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ServicesServlet</servlet-name>
        <url-pattern>/auth/*</url-pattern>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.invirgance.conduit.auth.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/auth/settings</url-pattern>
        <url-pattern>/views/editor/*</url-pattern>
        <url-pattern>/views/favorite/*</url-pattern>
        <url-pattern>/api/articles</url-pattern>
        <url-pattern>/api/articles/*</url-pattern>
        <url-pattern>/api/profiles/*</url-pattern>
    </filter-mapping>

    <session-config>
        <session-timeout>30</session-timeout>
        <cookie-config>
            <http-only>true</http-only>
        </cookie-config>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <location>/error.jsp</location>
    </error-page>
</web-app>
